h1{color:navy;}
p.a {font-family: "Times New Roman", Times, serif;}
p.b {font-family: Arial, Helvetica, sans-serif;}
p.c {font-family: Brush Script MT;}
p.d {font-family: Mistral;}

h1{color:navy;}
p{text-align:justify}
text{color:navy;}
body{font-family:Arial, San Serif;}
body{background-image: url(images/pink.jpg);}